/* 白天模式遮罩透明 */
#footer,
#page-header {
  background: transparent !important;
}

#footer::before,
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before,
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}
/* 率夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
background:transparent !important;
}
[data-theme="dark"] #page-header::before{
background: transparent !important;
}